<footer> 
  <img src="/img/banner6.jpg" class="banner-verde">

  <section class="datos-footer">
      
      <div>
        <h4 class="texto-nosotros"> Contáctenos </h4>  
        <p class="opcion-footer-T"> Contacto </p>
        <p class="opcion-footer-T"> Planta de entrega </p>
        <p class="opcion-footer-T"> Contacto comercial </p>
        <p class="opcion-footer-T"> Media Kit </p>
      </div>     

      <div>
        <h4 class="texto-nosotros"> Redes sociales </h4>  
        <p class="opcion-footer-T"> Facebook </p>
        <p class="opcion-footer-T"> Twitter </p>
        <p class="opcion-footer-T"> Instagram </p>
      </div> 

      <div>
        <h4 class="texto-nosotros"> Legales </h4>  
        <p class="opcion-footer-T"> Términos y condiciones </p>
        <p class="opcion-footer-T"> Política de privacidad </p>
      </div> 

      <div class="app-google"> 
        <h4 class="texto-nosotros"> Descarga la app </h4>
        <a href="https://tenor.com/es/ver/rick-astley-never-gonna-give-you-up-rickroll-dance-moves-dancing-guy-gif-20856902">
          <img src="/img/descargar.jpg" class="foto-google">
        </a>        
    </div>
      
      
  </section>

  <div class="footer-bottom"></div>
  <div>
    <p class="copyright-t">Copyright © 1999-2021 RentalCar S.R.L.</p>
    <p class="copyright-t">Av. Cabildo 2034, Piso 5, CP 1226, Belgrano, CABA</p>
  </div> 
  <div class="footer-bottom"></div>
</footer>