<footer> 
  <section class="datos-footer">
      <div>
        <img src="/img/Iso sin fondo.png" alt="logo auto" class="foto-logo2">
      </div> 
      <div class="app-google"> 
          <h4 class="texto-nosotros"> Descarga la app </h4>
          <a href="https://tenor.com/es/ver/rick-astley-never-gonna-give-you-up-rickroll-dance-moves-dancing-guy-gif-20856902">
            <img src="/img/google-play.jpeg" class="foto-google">
          </a>        
      </div>
      <div>
        <h4 class="texto-nosotros"> Contacto </h4>  
        <p> (ARG) 0800-111-1111 </p>
        <p> (Whatsapp) +541111111111 </p>
        <p> info@prueba.com.ar </p>
        <p> Buenos Aires / Argentina </p>
        <div class="botones-redes">
          <p><i class="fab fa-facebook-square" id="facebook"></i></p>
          <p><i class="fab fa-twitter-square" id="twitter"></i></p>
          <p><i class="fab fa-instagram-square" id="instagram"></i></p>
        </div>
      </div>            
  </section>
  <div class="footer-bottom"></div>
</footer>

