<footer> 
  <section class="datos-footer">
      <div><img src="/img/Iso sin fondo.png" alt="logo auto" class="foto-logo2"></div> 
      <div class="app-google"> 
          <h4 class="texto-nosotros"> Apps </h4>
          <img src="/img/app-store.png" class="foto-google"> 
          <img src="/img/google-play.png" class="foto-google">
      </div>
      
              <div>
                <h4 class="texto-nosotros"> Contacto </h4>  
                      <p> (ARG) 0800-111-1111 </p>
                      <p> (Whatsapp) +541111111111 </p>
                      <p> info@prueba.com.ar </p>
                      <p> Buenos Aires / Argentina </p>
                      <div class="botones-redes">
                      <p><i class="fab fa-facebook-square" id="facebook"></i></p>
                      <p><i class="fab fa-twitter-square" id="twitter"></i></p>
                      <p><i class="fab fa-instagram-square" id="instagram"></i></p>
                      </div>
              </div>  
              
      </section>
  </section>
 
  <div class="footer-bottom"></div>
</footer>

