<header class="header-detalles">
    <img src="/img/Iso sin fondo.png" alt="logo auto" class="foto-logo">
        <section class="items-header">
            <div class="header1">Conoce más</div>
            <i class="fas fa-angle-down" id="desplegar"></i>
            <div class="header2">
                <a href="login"> Ingresar </a>
            </div>
            <div class="header3">
                <a href="registro"> Registrarme </a>
            </div>
            <div class="header3">
                <a href="carrito"> Carrito </a>
            </div>
            <div class="header3">
                <a href="producto"> Productos </a>
            </div>
        </section>
</header>