<header class="header-detalles">
    <img src="/img/Iso sin fondo.png" alt="logo auto" class="foto-logo">
    <nav class="barra-superior">
        <ul class="listado-P">
            <li class="listado-2-P"><a href="/" class="option">Home</a></li>
            <li class="listado-2-P"><a href="login" class="option">Ingresar</a></li>
            <li class="listado-2-P"><a href="/usuario/registro" class="option">Registrarme</a></li>
            <li class="listado-2-P"><a href="/carrito" class="option">Carrito</a></li>
            <li class="listado-2-P"><a href="/producto" class="option">Productos</a></li>
            <li class="listado-2-P"><a href="homeLogin" class="option">Cuenta</a></li> 
            <!-- Para que Cuenta no se vea en el header
            <% if(conectado) { %>
            <li class="listado-2-P"><a href="homeLogin" class="option">Cuenta</a></li>
            <% }; %>
            -->
        </ul>
        <span class="slide"></span>
    </nav>
</header>

