<header class="header-detalles">
    <img src="/img/Iso sin fondo.png" alt="logo auto" class="foto-logo">
    <nav class="barra-superior">
        <ul class="listado-P">
            <li ><a href="/" class="option">Home</a></li>
            <li ><a href="/login" class="option">Ingresar</a></li>
            <li ><a href="/usuario/registro" class="option">Registrarme</a></li>
            <li ><a href="/carrito" class="option">Carrito</a></li>
            <li ><a href="/creacion-producto" class="option">Agregar producto</a></li>
            
            <!-- <li class="listado-2-P"><a href="homeLogin" class="option">Cuenta</a></li> -->        
        </ul>
       
       <!-- <span class="slide"></span>-->  
    </nav>
</header>


