<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Creación producto </title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://fontawesome.com/" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">

    </head>
    
    <body class="todocargarprod">
    <header class="bodyheaderf">
          
          <p class="nombrecompleto">
              Nombre Completo 
          </p>
          <img src="../img/Iso sin fondo.png" alt="logo" class="bodyheaderimgf">
     </header>
      <div class="reservaspendientesdiv">
        <h2 class="reservaspendientes">Editar Producto:</h2>
     </div>
      <main class="cuerpocargarprodf">
        <form action="./creacion-producto" method="POST" enctype="multipart/form-data">
         <div class="modelovehiculof">
          <label class="modelovehiculofl"> Elija categoría del nuevo vehículo:</label>
          <select name="claseDeVehiculo" class="selectmodelovehiculof">
              <option value="autoPequeño" name="s">Auto Pequeño</option>
              <option value="autoMediano" name="m"> Auto Mediano</option>
          </select>
        </div>
        <div class="nombremodelof">
          <label>Marca y modelo  </label>
          <input type="text" name="marca" value= <%= productoEditar.marca%> >
          <input type="text" name="modelo" value= <%= productoEditar.modelo%>>
        </div>
        <div class="anodelvehiculof">
          <label> Año del vehículo</label>
          <input type="number" name="ano" id="">
        </div>
        <div class="imagenvehiculof">
          <div>
          <img src="" alt="">
          </div>
          <label for="imageProduct" class="form-label">Seleccionar Imagen:</label>
          <input type="file" name= "imageProduct">
        </div>
        <div class="fechadisponiblef">
          <label > Fecha de disponibilidad</label>
          <div class="calendarios">
            <label> Desde</label>
            <input type="date">
            <label> Hasta</label> 
            <input type="date">
          </div>
        </div>
        <div class="preciopordiainiciof">
          <label> Precio por día</label>
          <input type="number" name="price" >
        </div>
        
        <div class="botonesEleccion">
          <button type="submit">Cargar producto</button>
        </div>
        <div>

        </div>  

      </form>
      </main>

      
    </body>
    <%- include ('../partials/footer.ejs')%>

</html>
 