<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Creación producto </title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://fontawesome.com/" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header") %>
        </header>   
        <div>
            <h1 class="titulo-centrado-P"> Listado de productos </h1>
            <div class="tipo-autos-P{">
                <div>
                    <div class="tipo-autos-P{">
                        <a href="#"></a>
                            <div>
                                <span>Autos pequeños</span>
                            </div>
                            <div>
                                <img src="../../../public/img/auto-pequeño.jpeg">
                            </div>
                        <a href="#"></a>
                            <div>
                                <span>Autos medianos</span>
                            </div>
                            <div>
                                <img src="../../../public/img/auto-pequeño.jpeg">
                            </div>
                        <a href="#"></a>
                            <div>
                                <span>Autos grandes</span>
                            </div>
                            <div>
                                <img src="../../../public/img/auto-grande.jpeg">
                            </div>
                        <a href="#"></a>
                            <div>
                                <span>Autos de alta gama</span>
                            </div>
                            <div>
                                <img src="../../../public/img/auto-alta-gama.jpeg">
                            </div>
                        <a href="#"></a>
                            <div>
                                <span>Autos familiares</span>
                            </div>
                            <div>
                                <img src="../../../public/img/auto-familiar.jpeg">
                            </div>
                        <a href="#"></a>
                            <div>
                                <span>Camionetas</span>
                            </div>
                            <div>
                                <img src="../../../public/img/camionetas.jpeg">
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body> 
</html>