<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Creación producto </title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://fontawesome.com/" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">
    </head>
    <body>   
        <div>
            <header></header>
                <h1 class="titulo-centrado-P"> Listado de productos </h1>
                <%- include("../partials/header") %>
            </header>
            <nav class="navegador-P">
                <h2> Buscador</h2>
                <form>
                    <label> Auto </label>
                    <input type="checkbox">
                    <label> Camioneta </label>
                    <input type="checkbox">
                    <label> Auto familiar </label>
                    <input type="checkbox">
                    <label> Auto alta gama </label>
                    <input type="checkbox">
                    <br>
                    <input type="text">
                    <input type="submit" value="Buscar">
                </form>
            </nav>
            <section class="section-P">
                <article class="contenedor-autos-P">
                    <h2> Autos Medianos </h2>
                    <img src="./img/auto-pequeño.jpeg">
                    <br>
                    <p> Precio: $25000 por 7 dias kms ilimitados</p>
                    <br>
                    <button type="button"> Seleccionar </button>
                </article>
                <article class="contenedor-autos-P">
                    <h2> Autos Grandes </h2>
                    <img src="./img/auto-grande.jpeg">
                    <br>
                    <p> Precio: $40000 por 7 dias kms ilimitados</p>
                    <br>
                    <button type="button"> Seleccionar </button>
                </article>
                <article class="contenedor-autos-P">
                    <h2> Autos de alta gama </h2>
                    <img src="./img/auto-alta-gama.jpeg">
                    <br>
                    <p> Precio: $65000 por 7 dias kms ilimitados</p>
                    <br>
                    <button type="button"> Seleccionar </button>
                </article>
                <article class="contenedor-autos-P">
                    <h2> Autos Familiares </h2>
                    <p> precio, etc</p>
                    <img src="./img/auto-familiar.jpeg">
                    <br>
                    <p> Precio: $50000 por 7 dias kms ilimitados</p>
                    <br>
                    <button type="button"> Seleccionar </button>
                </article>
                <article class="contenedor-autos-P">
                    <h2> Camionetas </h2>
                    <img src="./img/Camionetas.jpeg">
                    <br>
                    <p> Precio: $100000 por 7 dias kms ilimitados</p>
                    <br>
                    <button type="button"> Seleccionar </button>
                </article>
            </section>
        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </div>
    </body> 
</html>