<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/78eee2c548.js" crossorigin="anonymous"></script>
  <!--esta de acaba abajo es la tipografía y  cuando haya que usarla se llama asi ("font-family: 'Nunito Sans', sans-serif;")-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquila tu auto por hora ! </title>
  </head>
  <body>
    <header>
      <%- include("./partials/header") %>
    </header>
    <div class="foto-fondo-3-P">
      <script src="/js/pr2.js"></script>
      <br>
      <div class="reservaspendientesdiv">
        <h2 class="reservaspendientes">Tu reserva</h2>
      </div>
      <br>
      <br>
      <main>
        <article class="producto-reservado">
            <div class="descripcion-producto">
                <h4>Marca:</h4>                

                <p class="marcaCarrito">  </p>
                <h4>Modelo: </h4>  
                
                <p class="modeloCarrito">  </p>
             
                <h4>Precio por día:</h4>  
                <p class="precioPorDiaCarrito">  </p>
                <div class="precioyboton" class="precio-articulo">
                
                <button class="botoncancelarf" id="botoncancelarf">CANCELAR</button> 
              </div>
            </div>
            <div class="imagenproducto">
              <img src="./img/automediano.jpg" alt="">
            </div> 
          </article>
          
          <br>
          <br>
          <div class="aclaracion">
            <p class="notaaclaratoria">
            *Importante: Nuestros autos sólo pueden ser utilizados dentro de AMBA. NO TIENEN LIMITE DE KILÓMETROS. 
            </p>
        </div>
        <br>
        <div class="finalcarrito">
          <p> Total a pagar: </p>
          <p>$00000</p>
          <br>
          <button class="botonconfirmarf"> CONFIRMAR </button>
        </div>
      </main>
    </div>
    <Footer>
      <%- include("./partials/footer") %>
    </Footer>
  </body>
</html>