<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/78eee2c548.js" crossorigin="anonymous"></script>
  <!--esta de acaba abajo es la tipografía y  cuando haya que usarla se llama asi ("font-family: 'Nunito Sans', sans-serif;")-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquila tu auto por hora ! </title>
  </head>
  <body>
    <header>
      <%- include("./partials/header") %>
    </header>
    <div class="foto-fondo-3-P">
      <script src="/js/pr2.js"></script>
      <div class="boton-agregar-producto">
        <i class="fas fa-cart-plus"></i>
        <a href="creacion-producto"><button>Agregar producto</button></a>
      </div>
      <div class="reservaspendientesdiv">
        <h2 class="reservaspendientes">Tu reserva</h2>
      </div>
      <br>
      <br>
      <main>
        <article class="producto-reservado">
            <div class="descripcion-producto">
              <h3>Categoría de auto </h3>
              <p>Fecha y hora de retiro:</p>
  
              <p class="pr2">  </p>
              <p>modelo: </p>
  
  
              <p>Fecha y hora de entrega:</p>
              <p>Lugar de retiro:</p>
              <p>Lugar de entrega:</p>
              <div class="precioyboton">
                <p class="precio-articulo"> $ 0000,00 </p>
                <button class="botoncancelarf">CANCELAR</button> 
              </div>
            </div>
            <div class="imagenproducto">
              <img src="./img/automediano.jpg" alt="">
            </div> 
          </article>
          <article class="producto-reservado">
            <div class="descripcion-producto">
              <h3>Categoría de auto </h3>
              <p>Fecha y hora de retiro:</p>
              <p>Fecha y hora de entrega:</p>
              
              <p>Lugar de retiro:</p>
              <p>Lugar de entrega:</p>
              <div class="precioyboton">
                <p class="precio-articulo"> $ 0000,00 </p>
                <button class="botoncancelarf">CANCELAR</button> 
              </div>
            </div>
            <div class="imagenproducto">
              <img src="./img/categoriachico.jpg" alt="">
            </div> 
          </article>
          <br>
          <br>
          <div class="aclaracion">
            <p class="notaaclaratoria">
            *Importante: Nuestros autos sólo pueden ser utilizados dentro de AMBA. NO TIENEN LIMITE DE KILÓMETROS. 
            </p>
        </div>
        <br>
        <div class="finalcarrito">
          <p> Total a pagar: </p>
          <p>$00000</p>
          <br>
          <button class="botonconfirmarf"> CONFIRMAR </button>
        </div>
      </main>
    </div>
    <Footer>
      <%- include("./partials/footer") %>
    </Footer>
  </body>
</html>