<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>   
    <body>
        <div>
            <% if (locals.mensaje){ %>
            <p><%= locals.mensaje %> </p>
            <% } %>
        </div>
        <header>
            <%- include("./partials/header")  %>
        </header> 
        <div class="foto-fondo-P">
            <div class="container-P mt-3-P">
                <br>
                <br>  
                <h1 class="texto-alineado-P"> <strong> Iniciar sesion en tu cuenta de Rental Auto </strong></h1>
                <br>
                <form class="texto-alineado-P" action="/usuario/login" method="POST">
                    <div class="form-group-P">
                        
                        <div class="input-group-P" id="username">
                            <input autofocus class="form-control-P" id="mail" name="mail" placeholder="Correo electronico" required type="email">
                        </div>
                        <div class="erroresMail"></div>
                    </div>
                    <div class="form-group-P">
                        <div class="input-group-P" id="show_hide_password">
                            <input autofocus class="form-control-P" id="password" name="password" placeholder="Contraseña" required type="password">
                        </div>
                        <div class="errores"></div>

                        <a href=""> ¿Se te olvido tu contraseña? </a> 
                    </div>
                    <div class="footer-P">
                        <button type="submit" value="Login" id="botonLogin" onclick="validarMail(campoEmail.value)"> Iniciar sesión </button>
                        <p> O </p>
                        <a href="https://www.facebook.com/"> Continuar con facebook </a>
                        <br>
                        <a href="https://www.google.com/"> Continuar con Google </a>
                    </div>
                    <br>
                </form>    
                <p class="texto-alineado-P"> ¿Nuevo en Rental Auto? 
                    <a href="/usuario/registro"> Crea una cuenta. </a>
                </p>
            </div>  
        </div>
        <footer>  
            <%- include("./partials/footer") %>
        </footer> 

        <script src="/js/login.js"></script>
        <script src="/js/validacionMail.js"></script>
        
    </body> 
</html>