<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("./partials/head") %>
</head>
<body>
    <header class="header-detalles">
        <%- include("./partials/header") %>
    </header>

    <main class="main-detalles"> 
        <section  class="recuadro-total">
            <div class="recuadro-auto">
                     <img src="/img/Renault-Logan.jpg" class="foto-producto-2">
                         <div> 
                            <h4> RENAULT </h4>
                            <p> Logan III 1.6 8V EXPRESSION </p>
                            <p> <i class="fas fa-star" id="stars"></i><i class="fas fa-star" id="stars"></i><i class="fas fa-star" id="stars"></i><i class="far fa-star" id="stars"></i><i class="far fa-star" id="stars"></i></p>
                         <article class="descripcion">
                            <h4 i class="fas fa-bars"></i> CARACTERÍSTICAS </h4>
                            <h4 i class="fas fa-bars"></i> EQUIPAMIENTO </h4>
                            <h4 i class="fas fa-sticky-note"></i> RESEÑAS </h4>
                         </article>
                        </div>     
        </div> 
            <div class="recuadro-datos"> 
                            <h4 i class="fas fa-calendar-day"></i> FECHA </h4>
                            <input type="date" value="2021-07-06" class="caja-fecha">
                            <p i class="fas fa-bomb"></i> Reserva inmediata</p>
                            <h4 i class="fas fa-map-marked-alt"></i> LUGAR DE ENTREGA </h4>

                            <label class="elegir-entrega"> 
                                <input type="radio" name="entrega" checked class="input-entrega"> Av. de los Constituyentes 2992 
                                <input type="radio" name="entrega" class="input-entrega"> A coordinar con el cliente
                            </label>

                            <h4 i class="fas fa-car"></i> KILÓMETROS INCLUIDOS </h4>
                            <p> Ilimitados </p>

                            <h4 i class="fas fa-wallet"> RESUMEN </i> </h4>

                            <div class="total-resumen">
                                <p class="datos-resumen"> Cantidad de días </p> 
                                <p class="datos-resumen-2"> 5 días </p>
                            </div>
                            <div class="total-resumen">
                                <p class="datos-resumen"> Precio del alquiler </p>
                                <p class="datos-resumen-2"> $3578 </p>
                            </div>
                            <div class="total-resumen">
                                <p class="datos-resumen"> Seguro básico </p>
                                <p class="datos-resumen-2"> $1203 </p>
                            </div>

                            <h4 i class="fas fa-hand-holding-usd"></i> TOTAL </h4>
                                <h3> $4781 </h3>

                            <button class="boton-enviar"> RESERVAR </button>
                         </div>
        </section>      
    </main>
</body>

<footer> 
    <%- include("./partials/footer") %>
</footer>

</html>