<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>

</head>

<body>

  <!-- SLIDER 2
    <div id="tommy-slider">
  
            <ul class="slider">
                

              <li id="slide1">
                 
                <img src="/img/Cybereditado.jpg"/>

              </li>

              <li id="slide2">
            
                <img src="/img/2-Fiat-Variant.jpg"/>

              </li>

              <li id="slide3">
                    <img src="/img/6-Peugeot-207.jpg"/>
              </li>

            </ul>
            
            <ul class="menu">
              <li>
                <a href="#slide1">1</a>
              </li>
              <li>
                <a href="#slide2">2</a>
              </li>
               <li>
                <a href="#slide3">3</a>
              </li>
            </ul>
            
          </div>
-->

 <!-- SLIDER ORIGINAL

<div class="container2">
  
            <ul class="slider">
            <a href="https://kikopalomares.com/">
                        <li id="slide1">
                            <img src="/img/Cyber editado.jpg"/>
                        </li>
            </a>

              <li id="slide2">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"/>
              </li>
              <li id="slide3">
                <h1>Ejemplo con otros elementos</h1>
                <p>Esto es un párrafo de ejemplo para comprobar que podemos meter cualquier tipo de elementos en el slider</p>
                <a href="https://kikopalomares.com/">¡Corre a mi web para más contenido!</a>
              </li>
            </ul>
            
            <ul class="menu">
              <li>
                <a href="#slide1">1</a>
              </li>
              <li>
                <a href="#slide2">2</a>
              </li>
               <li>
                <a href="#slide3">3</a>
              </li>
            </ul>
            
          </div>


 -->

 <div class="slider">
  <ul>
      <li>
        <a href="https://www.google.com.ar">
          <img src="https://i.pinimg.com/originals/74/52/db/7452db2aafa89196801ef4fe680137e0.jpg">
      </a>
      </li>
      <li>
        <a href="https://www.facebook.com.ar">
          <img src="https://s1.1zoom.me/big0/160/354276-admin.jpg">
        </a>
      </li>
      <li>
          <img src="https://mobimg.b-cdn.net/pic/v2/gallery/preview/goroda-pejzazh-ulicy-22228.jpg">
      </li>
      <li>
          <img src="http://2.bp.blogspot.com/-dNtt1v-HAOE/UFdRpT_pY9I/AAAAAAAABXw/gBzxja1td3Y/s1600/fondos-escritorio-ciudades-1280.jpg">
      </li>
  </ul>
</div>


</body>
</html>