<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        <header>
            <%- include("../partials/header") %>
        </header>   
        <div class="foto-fondo-registro-P">
            <div class="container-P"></div>
            <br>
            <div class="container-P mt-3-P">
                <h1 class="texto-alineado-P"> <strong> Crea tu cuenta </strong></h1>
                <br>
                <form action="/usuario/registro" method="POST" enctype="multipart/form-data">
                    <div class="texto-alineado-P">
                        <div class="form-group-P">
                            <div class="errores">
                            </div>
                            <div class="input-group-P" id="username">
                                <input class="form-control-P" id="nombre" name="nombre" placeholder="Nombre" required type="text">
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="apellido" name="apellido" placeholder="Apellido" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="email" name="email" placeholder="Correo electronico" required type="text" value>
                            </div>
                        </div>

                        
                        <div class="form-group-P">

                            <!--
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="cuit" name="cuit" placeholder="Cuit/DNI" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="cel" name="celular" placeholder="Número de celular" required type="text" value>
                            </div>
  --> 
                        
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="show_hide_password">
                                <input autofocus class="form-control-P" id="password" name="password" placeholder="Contraseña" required type="password" value>
                            </div> 
                        </div>
                        <label> Subir foto de perfil
                        <input type="file" name="fotoPerfil">
                        </label>
                        <div class="footer-P">
                            <div>
                                <button class="btn-login" type="submit" id="botonRegistro"> Crear cuenta </button>
                            </div>
                        </div>
                        <br>
                        <a href="https://www.facebook.com/" class="hipervinculo-p"> Continuar con facebook </a>
                        <br>
                        <br>
                        <a href="https://www.google.com/" class="hipervinculo-p"> Continuar con Google </a>
                    </div>
                </form>    
            </div>
            <br>
            <p class="texto-alineado-P"> ¿Ya tienes una cuenta? 
                <a href="login" class="hipervinculo-p"> Inicia sesion </a>
            </p>
        </div>  
        <footer>  
            <%- include("../partials/footer") %>
        </footer> 

        <script src="/js/registro.js"></script>
    </body> 
</html>