<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Registro</title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://fontawesome.com/" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">

    </head>
    <body>
        <header>
            <%- include("../partials/header") %>
        </header>   
        <div class="foto-fondo-registro-P">
            <div class="container-P"></div>
            <br>
            <div class="container-P mt-3-P">
                <h1 class="texto-alineado-P"> <strong> Crea una cuenta en Rental Auto </strong></h1>
                <br>
                <form action="/usuario/registro" method="POST" enctype="multipart/form-data">
                    <div class="texto-alineado-P">
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="username" name="nombre" placeholder="Nombre" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="username" name="apellido" placeholder="Apellido" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="email">
                                <input autofocus class="form-control-P" id="email" name="email" placeholder="Correo electronico" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="show_hide_password">
                                <input autofocus class="form-control-P" id="password" name="password" placeholder="Contraseña" required type="password" value>
                            </div> 
                        </div>
                        <label> Subir foto de perfil
                        <input type="file" name="fotoPerfil">
                        </label>
                        <div class="footer-P">
                            <div>
                                <button type="submit"> Crear cuenta </button>
                            </div>
                        </div>
                        <p> O </p>
                        <a href="https://www.facebook.com/"> Continuar con facebook </a>
                        <br>
                        <a href="https://www.google.com/"> Continuar con Google </a>
                    </div>
                </form>    
            </div>
            <br>
            <p class="texto-alineado-P"> ¿Ya tienes una cuenta? 
                <a href="login"> Inicia sesion </a>
            </p>
        </div>  
        <footer>  
            <%- include("../partials/footer") %>
        </footer> 
    </body> 
</html>